apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: examen-26

resources:
  - namespace.yaml
  - configmap.yaml
  - deployment.yaml
  - service.yaml
  - ingress.yaml

images:
  - name: YOUR_DOCKER_USERNAME/chuzone-app
    newTag: "1.0.0"
